/*http://www.colorcombos.com/color-schemes/136/ColorCombo136.html*/

body{
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://i.imgur.com/aFX9zv5.png);
	padding-top: 70px;
	color: #e1a64d;
	background-size: cover;
	background-position: right top;
}

html{
	height: 100%;
}

#content{
	text-align:center;
	margin-top: 50%;
}

hr{
	border-color: inherit;
}

h1{
	font-size: 3.0em;
}

.row{
	display: table;
}
.navbar-inverse{
	background-color: #e1a64d;
	border: 0;
}


/*use inspector to find the specific selector for the nav-bar color*/
.navbar-inverse .navbar-nav>li>a{
	color: #636060;
}

.navbar-inverse .navbar-brand{
	color: #636060;
}

.container .jumbotron{
	background-color:#1897bd;
}

@media only screen and (min-width: 768px){
	.is-table-row{
		display: table;
		margin: 20px;
	}

	.is-table-row [class*="col-"]{
		float: none;
		display:table-cell;
	}
}

.is-table-row .box{
	background: none;
	position: static;
	vertical-align: middle;
}

.thumbnail{
	background-color: #e1a64d;
	margin-bottom: 0px;
	border: 0;
}

.is-table-row [class*="col-"] {
  /*background: #c7c7c7;*/
}

div.col-lg-6.nh_textbox{
	border: 4px solid #e1a64d;
	margin-bottom: 100px;
	vertical-align: middle;
	margin-right: 15px;
	margin-left: 15px;
	text-align: center;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color: #da9225;
	color: #636060;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus{
	background-color: #da9225;
	color: #636060;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
		color: #636060;
}
