/*http://www.colorcombos.com/color-schemes/136/ColorCombo136.html*/

body{
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://lh3.googleusercontent.com/E0c9DJ22b3nCRbLxWW5jC4S_jlQ0-V1BSk9fGkiHgRM3W4JKwqXSP-iwfIN_nVPVpDys4MqbMIsK47fuRRsdGtepm65QcTiiXMKTXOLqvMScZptta7E1tqKhYrvAQYSrWhk6rPXUkd6pBSkeC9b-U80G9UZR3WAuf0IGc64bak0qIlxh5Yw407axPvwgISBJ3PwLpZp24u1OKbm-UFmMyEnoi01dEtal6HhYQZTGoAm-nlYXM0u-ZcaND6UMYpYn42l_ByFC___7wogfW3VOmb5z8a_9ZxsRSm0mzwchXIxh5RjY1Wftzz1wKMvyH5u1bDUt8dQHvlvsPk4wSQHON0VsunOnIYV3WShjJjtvw5aYqQGIGaIJXfJnTlJGD7Ouxo8_ONzQ0b4PcKWaYYoxyVYu6pthLk96k06ianGBmHxv8gWt5IPMwj3NxSg9AoePlpltKka5FGflOymBHupfP7GtofyF201C0WKL7uxxM6cjIuROVv3AS1uwNeboC0jfKD06iKJvD2EhL_xyHdqahINSfqp0Hr76k1L7h6siW3IiUcGBaZPe3hCQYRPE3HViqeqcj5uHzVqMTj04hvi9lnf7YA1-nEtwdfJDFOhxQ4QqOSyUyhpDowcmpw=w1428-h659-no);
	padding-top: 70px;
	color: #e1a64d;
	background-size: cover;
	background-position: right top;
}

html{
	height: 100%;
}

#content{
	text-align:center;
	margin-top: 50%;
	text-shadow: 0.1px 0.1px 0.1px #FFFFFF;
}

hr{
	border-color: inherit;
}

h1{
	font-size: 3.0em;
}

.row{
	display: table;
}
.navbar-inverse{
	background-color: #e1a64d;
	border: 0;
}


/*use inspector to find the specific selector for the nav-bar color*/
.navbar-inverse .navbar-nav>li>a{
	color: #636060;
}

.navbar-inverse .navbar-brand{
	color: #636060;
}

.container .jumbotron{
	background-color:#1897bd;
}

@media only screen and (min-width: 768px){
	.is-table-row{
		display: table;
		margin: 20px;
	}

	.is-table-row [class*="col-"]{
		float: none;
		display:table-cell;
	}
}

.is-table-row .box{
	background: none;
	position: static;
	vertical-align: middle;
}

.thumbnail{
	background-color: #e1a64d;
	margin-bottom: 0px;
	border: 0;
}

.is-table-row [class*="col-"] {
  /*background: #c7c7c7;*/
}

div.col-lg-6.nh_textbox{
	border: 4px solid #e1a64d;
	margin-bottom: 100px;
	vertical-align: middle;
	margin-right: 15px;
	margin-left: 15px;
	text-align: center;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color: #da9225;
	color: #636060;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus{
	background-color: #da9225;
	color: #636060;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
		color: #636060;
}
